.countriesTableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tableBodyContainer{
  display: flex;
  flex-direction: column;
}
.bodyRowContainer{
  display: flex;
  flex-direction: row;
}